<a href="https://colab.research.google.com/github/osamasarhan/AI-Ignition-system/blob/master/Python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Alex Belianinov
#Sandia National Laboratory
#Ion Beam Laboratory
### aabelia@sandia.gov
### Python 101

#### **Welcome Everyone**

In [ ]:
# colab notebooks (this environment) .. are made up of cells
# to run this cell, i'm going to type shift-enter
# # (in python) indicates a comment

print("hello world")
print("text")

# 30 + 45

# for i in range(3):
    print("howdy y'all")
    print('does this thing work?')

17  # this last value in the cell, and is the "value" of the cell as a whole

hello world
text
howdy y'all
does this thing work?
howdy y'all
does this thing work?
howdy y'all
does this thing work?

17

In [ ]:
Out[1] * 2

34

In [ ]:
Out[2] + 2

36

In [ ]:
# variables and variable names
aVar = 100
avar = 10
AVAR = 100

print

print(aVar, avar, AVAR)

# start with any letter or underscore ... then we can letters and numbers
var1 = 10
var2 = 20
print(var1 + var2)

100 10 100
30

In [ ]:
print()

In [ ]:
# following fail:
3rdName = 100    # b/c leading digit
for = 3          # b/c keywords aren't legal variable name

del var2
# print var2   # this name no longer exists (NameError)

SyntaxError: ignored

In [ ]:
print()

In [ ]:
# indentation
i = 0
while i < 5:
    print(i)
    i = i + 1

0
1
2
3
4

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
range(5)  # ---> list of the values 0...4
a = range(5)
a = list(a)
print (a)

[0, 1, 2, 3, 4]

In [ ]:
# control-m followed by l (ell) ... you can get line numbers in a cell
for i in range(5):
    print(i)
    if i > 2:
        print("i is big")

0
1
2
3
i is big
4
i is big

In [ ]:
for i in range(5):
    print (i, "is") 
    if i % 2 == 0:   # / 2 gives 0, then a number is even
        print("even")
    else:
        print("odd")

0 is
even
1 is
odd
2 is
even
3 is
odd
4 is
even

In [ ]:
print("hello")
print("world")

hello
world

In [ ]:
for i in range(10):
    print( i, "is", end=" ") #Python 3 way to print without a newline
    if i < 3:
        print("small")
    # in C, we need two separate conditions  (C's && --->  and)
    elif i >= 3 and i <= 7:   # i between 3 and 7 (inclusive)
        print("middle")
    else:
        print("big")

0 is small
1 is small
2 is small
3 is middle
4 is middle
5 is middle
6 is middle
7 is middle
8 is big
9 is big

In [ ]:
print(3 + 5)
print(True and True)
print(True and False)
print(False and True)
print(False and False)

8
True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
print(not True)

False

In [ ]:
# displaying values:
x = 10
print("hello world", x, 35, 3.14, x + 10)

hello world 10 35 3.14 20

In [ ]:
averyveryverylongvariablename = 42

result = averyveryverylongvariablename + averyveryverylongvariablename + averyveryverylongvariablename + averyveryverylongvariablename

# dealing with long lines:
# MEF preferred
result = (averyveryverylongvariablename + 
          averyveryverylongvariablename + 
          averyveryverylongvariablename + 
          averyveryverylongvariablename)

# you have to be careful about no spaces after the backslash
# and the backslash can get confusing on longlines and in math
result = averyveryverylongvariablename + \
         averyveryverylongvariablename + \
         averyveryverylongvariablename + \
         averyveryverylongvariablename

print(result)

168

In [ ]:
# doing nothing
# C/Java:  we use a ; by itself for a NULL stmt
for i in range(5):
    pass    # placeholder

### Basic Datatype

In [ ]:
print(True and False)   # these are boolean values ... "bool"
print(True + False)     # just like 1 + 0
print(True * 10)          # just like 1 * 10

False
1
10

In [ ]:
print(type(True))
print(type(1))  # one
print(type(True + False))

print(isinstance(True, int))  # is True a particular int?
# bools are ints by "inheritence"

<class 'bool'>
<class 'int'>
<class 'int'>
True

In [ ]:
type(42)  # evaluating just show int

int

In [ ]:
print(type(42))

<class 'int'>

In [ ]:
2^3   # not "to the power of"

1

In [ ]:
2**3 # two raised to the third power

8

In [ ]:
2**(2**10)  # gives us an int; earlier versions of Python add L at the end

179769313486231590772930519078902473361797697894230657273430081157732675805500963132708477322407536021120113879871393357658789768814416622492847430639474124377767893424865485276302219601246094119453082952085005768838150682342462881473913110540827237163350510684586298239947245938479716304835356329624224137216

In [ ]:
# a comment about floats:
# 1.  they are approximations to real numbers ... b/c they have finite memory
#     .9999999999...    .... we have to trim it at some point  (in base 10... 1/9 -> .1... )
# 2.  in base 2 (how we store floats) ... there are different repeating numbers
#     so we have different infinite repeaters

a = 2.1 + 4.2
print(a)

print(a == 6.3)  # WTH?  same in C/C++/Java ... anyone using IEEE-754 representation (everyone)

# we don't compare to floats with equality
# we say "are these two values close enough"

print(6.3 - .0001  < a < 6.3 +.0001)   # close enough is within 10**-4

6.300000000000001
False
True

In [ ]:
# converting between different types
# in python, to make something of a type, we can almost always "say the name of that type"
# and get that sort of thing out
print(int(3)) # ---> int with the value 3
print(int(3.0)) # ---> int with value 3 from float 3.0
print(int("3")) # ---> ""                 ""  string "3"

3
3
3

In [ ]:
print(float("3.14"))  # string "3.14" --> float 3.14
# FAILS:
# print int("3.14")    # python can't make an int out of a floating point looking string
print(float("3.14"))
print(int(float("3.14")))  # by using two steps, we get the desired (?) int

3.14
3.14
3

In [ ]:
# string literals come in a few flavors
print("hello world")  # with ""
print('hello world')  # with ''

# these are very useful with regular expressions
print('She said, "Hi there."')
print("She's angry at me")

hello world
hello world
She said, "Hi there."
She's angry at me

In [ ]:
# sometimes strings spill over many lines
# use """ or '''
longstring = """a long string
split over several lines
and that might be
annoying to type in by hand"""

print(longstring)

a long string
split over several lines
and that might be
annoying to type in by hand

In [ ]:
longstring

'a long string\nsplit over several lines\nand that might be\nannoying to type in by hand'

In [ ]:
# python lets us use "escape chars" for special symbols
# \n --> newline
# \t --> tab
print("0\t10\n20\t30")

0	10
20	30

In [ ]:
# some string basics
s = "amanaplanacanalpanama"
print(s)
print(s[::-1])  # reverse the string

amanaplanacanalpanama
amanaplanacanalpanama

In [ ]:
# 0123
# aman aplanacanalpanamab

# indexing (a single value)
print(s[3])   # location 3 within the string  (python counts from zero)
print(s[0])

print(s[1] + s[2] + s[3])   # adding is string concatenation
# slicing (pulling out a substring)
print(s[1:3])  # the ending point here, was NOT included
print(s[1:4])  # includes the starting point ... excludes the ending point ... half open interval

n
a
man
ma
man

In [ ]:
print(s[0:9])
print(s[:9])   # default start is zero

amanaplan
amanaplan

In [ ]:
# how long is the string
print(len(s))

22

In [ ]:
# what are my legal indices?
print(s[0])
print(s[19])
print(s[20])
#print s[22]  # <---- ???   b/c are legal indices are 0 .... 20  (21 total values)
new_string = 'abcd'
print(len(new_string))
new_string[4]

a
m
a
4

IndexError: ignored

In [ ]:
# working with a slice is a little different than working with a straight index
print(s[15:21])  # remember, don't include the end point

panama

In [ ]:
print(s[15:])   # default ending spot is the end of the string
print(s[:15])

panamab
amanaplanacanal

In [ ]:
# to get the whole string
print(s[:])   # this is a copy of the underlying string

amanaplanacanalpanama

In [ ]:
print(s[15:len(s)])  # len(s) is 21
print(s[len(s)-6:len(s)])
print(s[len(s)-6:])

panamab
anamab
anamab

In [ ]:
# with indexing
#print(s[len(s)])   # FAIL!
print(s[len(s)-1])
print(s[len(s)-2])
print(s[len(s)-3])

a
m
a

In [ ]:
print(s[-1])  # go to len(s) and move back 1 position
print(s[-2])
print(s[-3])

a
m
a

In [ ]:
print(s[-6:])  # the last 6 chars of s

panama

In [ ]:
filename = "names.txt"
filename[-4:]  # --> the file extension

'.txt'

In [ ]:
print(s)
# make it:  zman
#s[0] = 'z'  # --> FAIL!
# once we make a string, it is immutable (we can't modify it)

print('z' + s[1:])

amanaplanacanalpanamab

TypeError: ignored

In [ ]:
print("e" in s)
print("p" in s)

False
True

In [ ]:
s = "hello world"
s.upper()  # give a copy of it in upper case

'HELLO WORLD'

In [ ]:
print(s.title())
print(s.capitalize())

Hello World
Hello world

In [ ]:
dir(s)
n = 10
dir(n)
help(s.capitalize)

Help on built-in function capitalize:

capitalize(...) method of builtins.str instance
    S.capitalize() -> str

    Return a capitalized version of S, i.e. make the first character
    have upper case and the rest lower case.

In [ ]:
s = "hello world"
print(s.title())
print(type(s.title()))    # a string ---> so we can do string things to it! (like .swapcase())
print(s.title().swapcase())

Hello World
<class 'str'>
hELLO wORLD

In [ ]:
print(s[10])
# print s[20]
print(s[:200])  # in a slice, the upper limit is simply an "at most" stopping point

d
hello world

### Lists

In [ ]:
line = "IBM    \t\t\t\n   100 \n\n  112.37"
print(line)

IBM
   100

  112.37

In [ ]:
pieces = line.split()   # ---> produces a list, from a string   (by default it throws out whitespace)

In [ ]:
print(type(pieces))

<class 'list'>

In [ ]:
print(len(pieces))
print(pieces[0])
print(pieces[2])
price = float(pieces[2])
print(price) # this one is a float

3
IBM
112.37
112.37

In [ ]:
lst = [1, 2, 'hello', 3.14]
print(lst)
for itm in lst:  # itm is a variable name for the loop variable
    print(itm)

[1, 2, 'hello', 3.14]
1
2
hello
3.14

In [ ]:
sum(range(10000000))  # slight pause b/c (1) takes time to add up 10M 
                      #                  (2) it takes time to allocate space (memory) for 10M

49999995000000

In [ ]:
print(lst[1:3])  # --> list
print(lst[-1])   # --> single item
print(1 in lst)
print(10 in lst)

[2, 'hello']
3.14
True
False

In [ ]:
# one more bit on split:
# split can also take a non-default character (besides whitespace)
print("GOOG|CSCO|YHOO".split())
print("GOOG|CSCO|YHOO".split("|"))
print("GOOG|||CSCO|||YHOO".split("|"))

['GOOG|CSCO|YHOO']
['GOOG', 'CSCO', 'YHOO']
['GOOG', '', '', 'CSCO', '', '', 'YHOO']

In [ ]:
lst = list(lst)
lst[2] = 99  # this updates lst in place ... in python, lists are mutable (modify them)
print(lst)

[1, 2, 99, 3.14]

In [ ]:
print(lst.sort())  # ---> result ??  None? what does that mean?  (no return value)

None

In [ ]:
print(lst)   # python didn't RETURN a sorted list ... it sorted the list IN-PLACE

[1, 2, 3.14, 99]

In [ ]:
lst = [-5, 3.14, None, "hello", True] # it is not sortable
lst.sort()
print (lst)   # None is less than everything else

TypeError: ignored

In [ ]:
lst = [-5, 3.14,  True]
sorted(lst)

[-5, True, 3.14]

In [ ]:
# strings are compared in lexicographic order ... dictionary order
# a < aardvard < amanda < bee

### Odd & Ends

In [ ]:
# example of a function
def sumup(n):
    ' a quick example of a python function (this is called docstring) '
    acc = 0
    for i in range(n+1):
        acc += i  # acc = acc + i
    return acc

In [ ]:
sumup(100)

5050

In [ ]:
sum(range(101))  # up to , but not including

5050

In [ ]:
help(sumup)  # help is populated by the docstring ... if a string is first in the function

Help on function sumup in module __main__:

sumup(n)
    a quick example of a python function (this is called docstring)

In [ ]:
import math
dir(math) # everything we can do from the math module

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [ ]:
math.e

2.718281828459045

In [ ]:
math.pi

3.141592653589793

In [ ]:
math.cos(math.pi) + math.sin(math.pi)

-0.9999999999999999

### Ipython Notebook versus Spyder

I don't use spyder very often ... but I do use emacs and the interactive prompt a lot!

  * when? or why?
  * when i'm working on "big" system (more than a single file) [not tiny!?]
 
Using ipython notebooks:

  * when i'm either:
    * exploring data and/or snipppets of code
    * i can embed matplotlib graphics diretly in a notebook
       * no separate window
    * anytime i want to communicate with python
      * if i'm writing blog post
      * if i'm working on drafts (has code also) of paper/book/article/etc.

$e^\pi = x$

### Quick yield example

In [ ]:
def foo(x):
    return x + 1  # <-- only return that happens
    return x + 2
    return x + 3

In [ ]:
f = foo(10)
print(f)

11

In [ ]:
def bar(x):
    yield x + 1 
    yield x + 2
    yield x + 3

In [ ]:
b = bar(10)
print(b)   # <-- something weird

<generator object bar at 0x7f1eccb6c570>

In [ ]:
# dir(b) # <--- tell s me i can do next
next(b)

11

In [ ]:
next(b)

12

In [ ]:
next(b)

13

In [ ]:
next(b)  # run out of yields .... ->  StopIteration  (tells a for loop to stop loops)

StopIteration: ignored

### Palindrome

In [ ]:
import numpy as np

a = np.array(range(1000))

b = np.array(range(1000))

c = np.meshgrid(a, b)

d = c[0]*c[1]

d = np.resize(d, 1000000)

d_str = np.array(d, dtype = str)

y = []

for x in d_str:
    
    if x == x[::-1]:
        #print 'Got One!'
        y = np.append(y, x)

final = np.array(y, dtype=int)

ty = max(final)

print(ty)

906609